
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
   font-size: 62.5%;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #040924;
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 42.8rem;
    background-color: #fff;
    padding: 4.8rem 6.4rem;
    border-radius: 0.5rem;
}
.card h1{
 color: #0C3440;
font-size: 3.2rem;
font-style: normal;
font-weight: 700;
line-height: 40px;
margin-bottom: 3.2rem;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 0.8rem;
    color: #00453A;
   
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; 
}
#peso{
    margin-bottom: 1.6rem;
}
header{
    background: #F03E3E;
    height: 3.6rem;
    position: absolute;
    top: 0;
    padding: 0.4rem;
    width: 100%;
    text-align: center;
    color: white;
    display: none;
    
}
header.active {
    display: block;
    animation: erro 0.5s forwards;
}
@keyframes erro {
  0%{
    transform: translateY(-100%);
  } 
  100%{
    transform: translateY(0);
  }
}
input{
 border-radius: 0.4rem;
border: 1px solid rgba(73, 80, 87, 0.30);
background: #DCE2E9;
padding: 1.6rem;
}
#altura{
    margin-bottom: 3.2rem;
}
.butao{
border-radius: 4px;
background-color: #02799D;
padding: 1.6rem;
color: white;
border: none;
outline: none;
cursor: pointer;
}
.modal{
    padding: 4.8rem 6.4rem;
    background-color: white;
    position: absolute;
    box-shadow: -69px 33px 13px 1000px rgba(0, 0, 0, 0.724);
    border-radius: 0.6rem;
   display: none;
   
}
.modal.active{
    display: block;
}
.close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}
.modal h1{
color: #0C3440;
text-align: center;

font-size: 3.2rem;
font-style: normal;
font-weight: 700;
line-height: 4rem;
}