@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 1s;
}
.card{
height: 100vh;
display: grid;
grid-template-rows: max-content max-content max-content max-content;
}

header{
    display: flex;
    padding-left: 10.9rem;
}
.text{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    animation: texin 1s forwards;
  
}
@keyframes texin {
    0%{
        opacity: 0;
        transform: translateX(-100%);
      
    }
    100%{
        opacity: 1;
        transform: translateY(0);
      
    }
    
}
.icon{
    animation: grampe 1.5s linear infinite;
}
@keyframes grampe {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}
.astronauta{
    margin-bottom: 10rem;
    animation: astro 1s forwards;
}
@keyframes astro {
    0%{
        opacity: 0;
        transform: translateY(-100%);
      
    }
    100%{
        opacity: 1;
        transform: translateY(0);
      
    }
    
}

.text h1{
color: #B52184;
font-size: 5.8rem;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.text p{
    display: flex;
color: #312D64;
justify-content: start;
font-size: 3.2rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
main{
    background-color: #312D64;
    display: flex;
    gap: 6rem;
    padding: 6.4rem 11rem;
    opacity: 0;
}
main.rolagem{
    opacity: 1;
 
}
main.rolagem .box-content .box:nth-child(1){
    animation: par 1s forwards;
}
main.rolagem .box-content .box:nth-child(2){
    animation: mid 1s forwards;
}
main.rolagem .box-content .box:nth-child(3){
    animation: ult 1s forwards;
}
.junto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18rem;
}
.text-box{
    overflow-y: hidden;
}
.text-box h1{
    color: #B52184;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 2.4rem;
}
.text-box p {
color: #312D64;
font-size: 1.9rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.box-content{
    display: flex;
    gap: 6rem;
}
::-webkit-scrollbar{
    width: 0;
  
}


.box{
    max-width: 52.2rem;
    height: 48.4rem;
    background-color: #fff;
    display: flex;
   padding: 3.2rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 40px;
   border-radius: 2.4rem;
   flex: 1 0 0;
   
   }
   @keyframes par {
    0% {
        opacity: 0;
        transform: translateX(-100%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
@keyframes ult {
    0% {
        opacity: 0;
        transform: translateX(100%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
@keyframes mid {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
   
 .nome,.email{
    border: none;
    outline: none;
    width: 100%;
    margin-left: 2rem;
 }
 .input-container{
    display: flex;
    border: 1.5px solid #312D64;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
 }
 @keyframes parec {
    0% {
        opacity: 0;
        transform: translateX(-100%) 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
 .part1 h1{
color: #B52184;
font-size: 4.2rem;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 3rem;
 }
 .area-text{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
 }
 ::placeholder{
    color: #312D64;

font-size: 1.6rem;
font-style: normal;
font-weight: 600;
line-height: 100%; 
 }
 .but{
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    padding: 1.6rem;
    border-radius: 1.6rem;
    border: none;
    outline: none;
    color: white;
font-size: 1.4rem;
font-style: normal;
font-weight: 700;
line-height: 2.4rem; 
text-transform: capitalize;
margin-bottom: 10.4rem;

 }
 .main2{
    display: flex; 
    width: 100%;
    gap: 10.8rem;
    opacity: 0;
 
    
 }
.main2.rolagem{
    opacity: 1;
 }
 .main2.rolagem .part1 h1{
    animation: parec 1.4s  forwards;
 }
 .main2.rolagem .part1 .input-container:nth-child(1){
    animation: parec 1.8s forwards;
 }
 .main2.rolagem .part1 .input-container:nth-child(2){
    animation: parec 2.3s forwards
 }
 .main2.rolagem .part1 .input-container:nth-child(3){
    animation: parec 2.6s forwards
 }
 .main2.rolagem .part1 .but {
    animation: parec 1.8s forwards;
 }

 .part1{
    width: 50%;
    padding-left: 10.9rem;
    margin-top: 9.5rem;
 }
 .part2{
    width: 50%;
    background: url(assets/image\ 11976.png);
    animation: 2s ult forwards;
    background-size: cover;
    background-repeat: no-repeat;
    
 }
 
 footer{
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    padding: 1.6rem;
    animation: fot 1s forwards;
 }
 footer p{
color: #FFF;
text-align: center;
font-size: 1.9rem;
font-style: normal;
font-weight: 600;
line-height: normal;

 }
 @keyframes fot {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
 }
@media screen and (min-width:1450px){
    header{
        justify-content: center;
    }
    main{
        justify-content: center;
    }
    .fot{
        width: 100%;
    }
 }
 @media screen and (max-width:1050px){
 .astronauta{
    width: 100%;
    height: auto;
    margin-bottom: 4rem;

 }
 header{
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
   
 }
 .text h1{
    font-size: 3.2rem;

 }
 .text p{
    font-size: 2rem;
 }
 .junto{
    align-items: center;
    gap: 5rem;
 }
 .icon {
    margin-bottom: 10rem;
  
}





 main{
    justify-content: center;
 }
 .box-content{
    flex-direction: column;
    justify-content: center;
 }
 .part2{
    display: none;
    
 }
 .part1{
    width: 100%;
    padding-left: 0;
    padding-inline: 3.9rem;
   
 }
 }
 @media screen and (max-width:550px){

    .text-box p{
        font-size: 1rem
    }
    .box{
        width: 30rem;
    }
 }