*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero {
  
   width: 592px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}



h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 span {
  font-weight: bold;

  margin-bottom: 32px;
}
#image1{
  margin-top: 20px;
  margin-bottom: 80px;
}
span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}
.p2{
  margin-top: 20px;
  margin-bottom: 50px;
}
#footer{
  padding-top: 10px;
}
#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;

  

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}