body{
    background-color: mediumpurple;
}
.square{
    width: 4rem;
    height: 4rem;
    background-color: white;
    opacity: .6;
    animation-name: mover, pulse;
    animation-duration: 3s, 200ms;
    animation-delay: 1s; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}
.square:hover {
    animation-play-state: paused;
}
   

@keyframes mover{
    0%{
        transform: translateX(0)
    }
    50%{
        transform: translateX(calc(100vw - 100% - 16px));

    }
    100%{
        transform: translateX(0);
    }
   
}
@keyframes pulse{
    50%{
        opacity: 0.2: 
    }
    100%{
        opacity: 1;
    }
}
