*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%
}
body{
    background-image: url(old-paper-texture-beige-craft-cardboard-vintage-canvas-surface\ 1.png);
    padding: ;
}